/* Add your CSS to this file */
:root{
    /* Heading Colours */
    --heading2: #48bb78;
    --heading3: #48bb78;

    /* Generic Colours */
    --black: #1a202c;
    --white: rgb(255, 255, 255);
    --navigationLink: #6b7280;
    --navigationLinkHover: #4a67d8;
    --heroOoverviewSection: #E2E8F0;
    --learnAbout: #E2E8F0;
    --covidTest_Background: #4a5568;
    --covidTest_LearnMoreLink: #5a67d8;
    --recentStories: --covidTest_LearnMoreLink;
    --newsLetter_Background: --heading2;
    --newsLetter_Subscribe: --covidTest_LearnMoreLink;
    --footer_Background: --covidTest_Background;
    --footer_TextColour: --white;    

    /* Fonts */
    --defaultFontFamily: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --defaultFontSize: 18px;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/* Headings */
h1 {
    font-size: var(--defaultFontFamily);
    padding: 25px;
    float: left;
    background-color: var(--white);
}

/* .overview-hero h2 {
    text-align: right;
} */

/* Bullet Points */
ul {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    list-style: none;
    background-color: var(--white);
}

li a {
    margin-top: 23px;
    float: right;
    padding: 15px;
    text-decoration: none;
    color: var(--navigationLink);
    font-weight: bold;
    font-size: var(--defaultFontFamily);
}

li a:hover {
    color: var(--navigationLinkHover);
}


/* Hero Overview Section */
.overview-hero .container {
    background-color: var(--heroOoverviewSection);
    display: block;
    padding: 10px;
    width: 800px;
    height: 400px;
    margin-top: 10px;
}

.overview-hero-image img{
    width: 350px;
    height: 350px;
    width: 50%;
    padding: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
}

.overview-hero-text{
    text-align: right;
}

/* Covid19 test */
.testing .container{
    background-color: var(--covidTest_Background);
    display: block;
    padding: 10px;
    width: 1000px;
    height: 300px;
    margin-top: 10px;
}

.testing .testing-desciption{
    text-align: left;
    color: var(--white);
}

.testing .cta .btn{
    background-color: #48BB78;
    position: relative;
    border-radius: 5px; 
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    top: -50px;
    left: 1000px;
}


/* Stories */
.stories .container{
    display: grid;
    grid-gap: 20px;
}

.stories .container article img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    padding: 50px;
}

.stories{
    grid-column: 1/3;
    grid-row:2;
}

.stories .container h2{
    color: #5A67D8;
    font-size: 18px;
}

.stories .container .article-body p a{
    color: #5A67D8;
}

.stories .container .article-body{
    padding: 50px;
}